@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/*menu*/

.menu-container {
  display: flex;
  justify-content: center;
}

.nav-header {
    width: 1200px;
    margin-top: 30px;
}

.nav-header ul {
    list-style: none;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center; 
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding: 0;
    margin-bottom: 50px;
  }

  a {
      color: black;
      font-size: 16px;
      font-weight: 700;
  }

  a:hover {
    color: red;
  }

  /*menu*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

.logo-main {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 175px;
  height: 110px;
  margin-top: 30px;
  border-bottom: 2px solid black;
}

.logo-subtitle {
font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  color: red;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
}

.form-box {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

input {
  width: 350px;
  height: 30px;
}

#message {
  width: 350px;
  height: 250px;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
}

#sendBtn {
  font-size: 18px;
  padding-top: 10px;
  color: black;
  background-color: rgb(226, 223, 223);
  cursor: pointer;
}

#send_form_status{display: none; padding: 0 10px; margin: 10px 0}
.status_ok{color: #F00}
.status_err{color: #F00};

/*
.formField{font: 'Josefin Sans', sans-serif; border: 1px solid #ccc; border-radius: 3px; margin: 3px 0 10px 0; padding: 3px 0}
textarea.formField{width: 300px; height: 70px}
#sendBtn{cursor:pointer;background: #ccc; background: linear-gradient(#ddd 0, #eee 100%); border: 1px solid #ccc; line-height: 32px; font-size: 14px;padding: 0 25px; border-radius: 3px}
#send_form_status{border: 1px dashed #ccc;display: none; padding: 0 10px; margin: 10px 0}
.status_ok{color: #060}
.status_err{color: #F00};
*/
