@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/*
.logo-container {
  width: 300px;
  height: 160px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
*/

.languages-container {
  
  height: 30px;
  display: flex;
  justify-self: center;
  justify-content: flex-end;
  margin-right: 220px;
}

.languages-eng img{
  height: 30px;
  width: 30px;
  margin-left: 8px;
}

.languages-es img{
  height: 30px;
  width: 30px;
  
}

.logo-main {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 135px;
    height: 80px;
    margin-top: 30px;
    border-bottom: 2px solid black;
}

.logo-subtitle {
  font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    color: red;
}

.section-main-pic {
    display: flex;
    justify-content: center;
}

.main-pic img {
    height: 250px;
    width: 1050px;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.nav-header {
    width: 1000px;
    margin-top: 50px;
}

.nav-header ul {
    list-style: none;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center; 
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0;
    padding: 0;
  }



  a {
      color: black;
      font-size: 16px;
      font-weight: 600;
  }

  a:hover {
    color: red;
  }


  .main-inscription h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 70px;
  }

  .top-content {
    display: flex;
    justify-content: center;
  }


  .small-top-boxes {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    width: 850px;
    justify-self: center;
  }

  .small-top-boxes-one,
  .small-top-boxes-two,
  .small-top-boxes-three {
      width: 220px;
      height: 180px;
    /*  border: 3px solid black;
      border-radius: 50%; */
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      line-height: 25px;

  }

  .small-top-boxes-two img {
    width: 200px;
    height: 150px;
  }

  .small-top-boxes-two {
      width: 260px;
      height: 260px;
  /*    border: 2px solid black;  */
      padding: 12px;
      margin-top: 80px;
      border-radius: 50%;
      margin-left: 20px;
      margin-right: 20px;
  }

  .small-top-boxes-two p {
    font-size: 18px;
    color: red;
    margin-top: 45px;
  }

  .small-top-boxes-one,
  .small-top-boxes-three {
    margin-top: 40px;
    border-bottom: 1px solid black;
   
    width: 250px;
    height: 180px;
    padding: 10px;

  }

  .small-top-boxes-one p {
    font-weight: 800;
    font-size: 15px;
    margin-top: 35px;

  }

  .small-top-boxes-three {
    color: black;
    font-size: 14px;
  }

  .small-top-boxes-three h6 {
    font-weight: 800;
    font-size: 15px;
    color: black;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    
  }

  .small-top-boxes-three p {
    font-weight: 800;
    font-size: 14px;
    color: black;
    
  }



.upper-main-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

  .upper-main-first,
  .upper-main-second,
  .upper-main-third {
    width: 290px;
    height: 290px;
    border: 1px solid black;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      line-height: 25px;
  }


.bottom-main-content {
  display: flex;
  justify-content: center;
  
  }

  .bottom-main-first,
  .bottom-main-second,
  .bottom-main-third {
    width: 290px;
    height: 290px;
    border: 1px solid black;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      line-height: 25px;
  }

  .upper-main-first p {
    margin: 50px 25px;
    font-size: 12px;
    font-weight: 700;
  }

  .upper-main-second {
    width: 280px;
    height: 220px;
    background-image: url("../assets/AdobeStock_307184379.jpeg");
    background-size: cover;
    background-position-x: -100px;
    
  }
  .upper-main-second {
    width: 290px;
    height: 290px;
    border: 2px solid black;
  }

  .upper-main-third p {
    margin: 50px 20px;
    font-size: 12px;
    font-weight: 700;
  }

  .bottom-main-second p {
    margin: 70px 25px;
    font-size: 12px;
    font-weight: 700;
  }

  .upper-main-first:hover {
    transform: scale(1.3);
  }

  .upper-main-third:hover {
    transform: scale(1.3);
  }

  .bottom-main-second:hover {
    transform: scale(1.3);
  }

  .bottom-main-first {
    width: 290px;
    height: 290px;
    
    border: 2px solid black;
    
  }

  .bottom-main-first {
    width: 290px;
    height: 290px;
    background-image: url("../assets/AdobeStock_225142811.jpeg");
    background-size: cover;
    background-position-x: -70px;
  }

  .bottom-main-third {
    width: 290px;
    height: 290px;
    border: 2px solid black;
  }


  .bottom-main-third {
    width: 290px;
    height: 290px;
    background-image: url("../assets/AdobeStock_307395094.jpeg");
    background-size: cover;
  }


  .register-button  {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-button button  {
    height: 60px;
    width: 170px;
    background-color: white;
    border: 2px solid red;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .footer {
    height: 200px;
    margin-top: 300px;
    
    width: 1000px;
    border-top: 2px solid black;
 
  }

  .footer-one {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
  }